:root{
    --colorFondo:  #F3F5FC;
    --colorLetra: #0A3871;
    --colorFondoBlue: #0A3871;
}

body{
    margin: 0 16px;
    padding: 0;
    background-color: var(--colorFondo);
}

/* Header */

header{
    margin: 24px;
}

/* Section Ingreso de Mensaje */

textarea{
    width: 100%;
    height: 60vh;
    border: none;
    background-color: var(--colorFondo);
    color: var(--colorLetra);
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

textarea::placeholder{
    color: var(--colorLetra);
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    line-height: 150%;
}

textarea:focus{
    outline: none;
}

.informacion {
    display: flex;
    align-items: center;
}

.informacion span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;

    margin: 0 8px;
}

/* Botones */

.botones{
    margin: 8px auto;
    display: flex;
    flex-direction: column;
}

.botones button, .btnCopiar{
    margin: 8px auto;
    width: 300px;
    height: 67px;
    border: 1px solid var(--colorFondoBlue);
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.btnEncriptar{
    color: #FFFFFF;
    background-color: var(--colorFondoBlue);
}

.btnDesencriptar{
    color: var(--colorLetra);
    background-color: var(--colorFondo);
}

/*Area Mensaje traducido*/

.mensajeTraducido{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 327px;
    height: auto;
    margin: 64px auto;
    padding: 32px 0;

    background-color: #FFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align: center;
    justify-content: center;
}

.mensajeError{
    width: 263px;
    height: 58px;
    flex-direction: row;

    font-weight: bold;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
}

.mensajePrincipal{
    width: 263px;
    height: 48px;    
    flex-direction: row;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
}

.textoTraducido{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #495057;
}

.btnCopiar{
    display: none;
    flex-direction: row;
    background-color: #FFF;
    color: var(--colorLetra);
}

/* Footer */

footer {
    position: relative;
    width: 100%;
    margin: 15px auto;
    bottom: 0;
}

footer p{
    text-align: center;
    font-style: italic;
    font-family: 'Inter';
    font-size: 12px;
    color:#495057;
    margin: 2px;
}


/* Media Querys */

@media (max-width:768px) {

    .logoError{
        display: none;
    }
}

@media (min-width:768px) {
    
    body{
        margin: 0 40px;
    }

    header{
        margin: 40px 40px;
    }

    .botones{
        flex-direction: row;
    }

    .mensajeTraducido{
        width: 97%;
        height: 50vh;
    }
}

@media (min-width:1024px) {
    
    .ingresoMensaje{
        position: absolute;
        width: 55vw;
        height: 50vh;
        left: 55px;
    }

    .mensajeTraducido{
        position: absolute;
        top: 0;
        right: 0;
        width: 30vw;
        height: 80vh;
        margin: 40px 40px;
    }

    .logoError{
        width: 70%;
    }

    .botones button{
        width: 45%;
    }

    .btnCopiar{
        width: 90%;
    }

    footer{
        position: relative;
        z-index: 2;
        width: 100%;
        bottom: 0;
        margin: 90vh auto 0;
    }
}

@media (min-width:1440px) {
    
    .ingresoMensaje{
        width: 50vw;
        left: 240px;
    }

    .mensajeTraducido{
        /*width: 30vw;*/
        width: 400px;
    }
}

/*Animaciones */

button{
    transition: 0.8s;
}

.btnEncriptar:hover{
    transition: 0.5s;
    transform: scale(1.02);
    background: #1d5dac;
    border-radius: 50deg;
    font-size: 115%;
}

.btnDesencriptar:hover ,.btnCopiar:hover{
    transition: 0.5s;
    transform: scale(1.02);
    background: #c0d9fa;
    border-radius: 50deg;
    color:#010d1b;
    font-size: 115%;
}
